h1{
  font-family: 'Roboto', sans-serif;
  
}


.main-container>header{
   background-image: url("nasa.jpeg");
   background-size:cover;
   height: 450px;
   width: 850px;
    }
    .nasa-text{
      color: white;
      margin-left:400px;
      margin-top:250px;
      font-size: 100px;
      
    }

  div{
    display: flex;
    flex-direction:row;
    width:850px;
    margin:10px; 
    background-color: grey;
    margin-top: 10px;
    margin-left: 120px;
    padding: 1px;
  }

  article{
    width:270px;
    margin:1px;
    padding:1px;
     }

   .two{
     margin-left:20px;
     margin-right:20px
   }


  p{
    margin:5px;
    width:auto;
    height:auto;
    padding:10px;
  }

 




