h1{
  font-family: 'Roboto', sans-serif;
  
}


.main-container>header{
   background-image: url("nasa.jpeg");
   background-size:cover;
   height: 450px;
   width: 850px;
    }
    .nasa-text{
      color: white;
      margin-left:350px;
      margin-top:200px;
      font-size: 100px;
      
    }

  div{
    display: flex;
    flex-direction:row;
    width:850px;
    margin:10px; 
    background-color:lightgray;
    margin-top: 30px;
    margin-left: 200px;
    

  }

 .three{
   height: 324px;

 }

  article{
    width:270px;
    margin:20px;
    padding-left:40px;
     }

   .two{
     margin-left:0px;
     margin-right:0px
   }

   .two>h3{
     padding:10px;
     padding-bottom:10px;

   }

   .two>p{
     width:150px;
     height:100px ;
     
   }


  p{
    margin:5px;
    width:270px;
    height:auto;
    padding:1px;
  }

 




